<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EDIT PAGE</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
            body{
                margin: 0;
                font-family: 'Karla', sans-serif;
                overflow-x: hidden;
            }
            .title{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 2em;
                letter-spacing: 10px;
                margin: 0;
            }
            header{
                position: fixed;
                top: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                background-color: #fff;
                z-index: 99;
                height: 59px;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
            }
            .navigation{
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                width: 75%;
                background: white;
                z-index: 98;
            }
            .navigation > a + a{
                font-size: 1em;
                letter-spacing: 1px;
                text-decoration: none;
                color: #000;
            }
            .signin, .btn-logout{
                padding: 5px;
                border: 1px solid black;
                background: #fff;
            }
            .signin:hover,.btn-logout:hover{
                cursor: pointer;
                background-color: black;
                color: #fff;
            }
            #nav-order{
                padding: 6px;
                color: #fff;
                background: #000;
            }
            #nav-order:hover{
                cursor: pointer;
                border: 1px solid #000;
                color: #000;
                background: white;
                padding: 5px;
            }
            .fa-user-circle{
                font-size: 1.5em;
            }
            .logo-nav{
                font-size: 1.5em;
                font-family: 'Josefin Sans', sans-serif;
                letter-spacing: 1px;
                text-decoration: none;
                color: #000;
            }
            .kart{
                padding: 5px 10px;
                border: 1px solid black;
                background: #fff;
            }
            .profile{
                text-transform: uppercase;
            }
            /*  */
            .edit-container{
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 500px;
            }
            .edit-box{
                padding: 50px;
                background: #fff;
                font-size: 1.5;
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
            }
            .cancel, .edit{
                background: white;
                color: #000;
                border: 1px solid #000;
                padding: 3px;
                text-decoration: none;
            }
            .cancel:hover, .edit:hover{
                background: #000;
                color: #fff;
                cursor: pointer;
            }
            .buttons{
                margin-top: 20px;
                display: flex;
                justify-content: center;
            }
            .cancel{
                margin-left: 2%;
            }
            /* footer */
            footer{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 160px;
                color: white;
                background-color: #000;
            }
            footer > a{
                text-decoration: none;
            }
            footer > a+a{
                margin-left: 2%;
            }
            .fa{
                font-size: 2em;
                color: white;
                text-decoration: none;
            }
            .fa +.fa{
                margin-left: 1%;
            }
            .fa-instagram{
                font-size: 2em;
            }
            .fa-instagram:hover{
                color: #f40083;
            }
            .fa-linkedin:hover{
                color: #007bb5;
            }
            footer > div{
                text-align: center;
            }
            footer > h3{
                letter-spacing: 1px;
            }
            footer > p{
                margin: 0;
                font-size: 1.2em;
            }
            .copy{
                margin-bottom: 0;
                letter-spacing: 1px;
            }
            .footer-title{
                margin: 10px 0px 0px 0px;
            }
            .footer-info{
                margin-top: 0;
                letter-spacing: 1px;
            }
            h2{
                font-family: 'Josefin Sans', sans-serif;
                text-align: center;
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <%- include ('./partials/info_navbar.ejs') %>
        <div class="edit-container">
            <div class="edit-box">
                <h2>Editing <br/><%=dish.name%></h2>
                <form action="/restaurant/<%=id%>/edit" method="POST">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" value="<%=dish.name%>"/></td>
                        </tr>
                        <tr>
                            <td>Ingredients:</td>
                            <td><input type="textarea" name="ingredients" value="<%=dish.ingredients%>"/></td>
                        </tr>
                        <tr>
                            <td> Image:</td>
                            <td><input type="text" name="img" value="<%=dish.img%>"/></td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td><input type="number" name="price" value="<%=dish.price%>"/></td>
                        </tr>
                        <tr>
                            <td>tags:</td>
                            <td><input type="text" name="tags" value="<%=dish.tags%>"/></td>
                        </tr>
                    </table>
                    <div class="buttons">
                        <input class="edit" type="submit" value="EDIT ITEM"/>
                        <a  class="cancel" href="/restaurant"class="back">CANCEL</a>
                    </div>
                </form>
            </div>
        </div>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>