<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AMORES restaurant</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <%- include ('./partials/info_navbar.ejs') %>
        <div class="carousel-container" id="home">
            <div class="carousel">
            </div>
        </div>
        <div class="image-left">
            <img class="pepper"src="https://i.ibb.co/sq1VzFM/pepers-image.png">
            <img class="porkchop" src="https://i.ibb.co/vd3djkx/bg01.png">
        </div>
        <%- include ('./partials/about_section.ejs') %>
        <h3 class="menu-headliner" id="menu">MENU</h3>
        <div class="menu-headline">
            <div class="headline">
                <img class="headline-img" src="https://i.ibb.co/wKMNjMB/h4-bg.png">
            </div>
        </div>
        <%- include ('./partials/info_menu.ejs') %>
        <div class="newyork">
            <div class="content">
                <div class="text-content">
                    <h3 class="nyc-text title">NEW YORK</h3>
                    <div class="mini-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis deserunt ullam quod, similique quisquam nemo. Quidem architecto recusandae, eum impedit aliquam, similique dolor fuga fugit, quibusdam eveniet earum asperiores laboriosam?</p>
                    </div>
                </div>
                <div class="video-content">
                    <iframe src="https://player.vimeo.com/video/261915296" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <%- include ('./partials/reserve.ejs') %>
        <div class="mint">
            <img class="mint-img" src="https://i.ibb.co/cvfG5Pc/landing-pop-up-bottom-sheet.png">
        </div>
        <%- include ('./partials/info_section.ejs') %>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>