<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
    <link rel="stylesheet" href="../../css/show.css">
</head>
<body>
    <%- include ('./partials/info_navbar.ejs') %>
    <div class="header">
        <div class="something"></div>
        <div class="header-text">
            <h3 class="title">DELIVERY OR TAKEAWAY</h3>
            <p class="info-dev">We are open for delivery from 3:30pm to 9:30pm daily</p>
        </div>
        <div class="image-box">
            <img class="header-image" src="https://i.ibb.co/3FXXsZ9/h3-bg.png">
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <% if(currentUser){ %>
                <% if(currentUser.username == "adm"){ %>
                <% for(let i = 0; i < alldishes.length; i++){ %>
                <form class="show" action="/restaurant/<%=alldishes[i].id%>?_method=DELETE" method="POST">
                    <div class="box">
                        <h3 id="dish-name"><%=alldishes[i].name%></h3>
                        <div>
                            <img clas="dishes" src="<%=alldishes[i].img%>">
                        </div>
                        <p class="ingridients"><%=alldishes[i].ingredients%></p>
                        <p class="price">$<%=alldishes[i].price%>.00</p>
                        <a class="edit "href="/restaurant/<%=alldishes[i].id%>/edit">EDIT</a>
                        <input class="delete" type="submit" value="DELETE"/>
                        <hr class="bottom">
                    </div>
                    <% if(i == 2 || i == 5 || i == 8 || i == 11){ %>

                    <% } else { %>
                        <div class="side"></div>
                    <% } %>
            </form>
            <% } %>
            <div class="create-button">
                <a class="create" href="/restaurant/new">CREATE NEW DISH</a>
            </div>
            <% } else { %> 
                <% for(let i = 0; i < alldishes.length; i++){ %>
                    <form class="show" action="/users/<%=alldishes[i].id%>?_method=PUT" method="POST">
                        <div class="box">
                            <h3><%=alldishes[i].name%></h3>
                            <div>
                                <img clas="dishes" src="<%=alldishes[i].img%>">
                            </div>
                            <p class="ingridients"><%=alldishes[i].ingredients%></p>
                            <p class="price">$<%=alldishes[i].price%>.00</p>
                            <input type="submit" class="add-to-order" value="ADD TO ORDER"/>
                            <hr class="bottom">
                        </div>
                        <% if(i == 2 || i == 5 || i == 8 || i == 11){ %>
    
                            <% } else { %>
                                <div class="side"></div>
                            <% } %>
                    </form>
                    <% } %>
                <%} %>
            <% } else { %>
                <% for(let i = 0; i < alldishes.length; i++){ %>
                <form class="show" action="/restaurant/<%=id%>?_method=DELETE" method="POST">
                    <div class="box">
                        <h3><%=alldishes[i].name%></h3>
                        <div>
                            <img clas="dishes" src="<%=alldishes[i].img%>">
                        </div>
                        <p class="ingridients"><%=alldishes[i].ingredients%></p>
                        <p class="price">$<%=alldishes[i].price%>.00</p>
                        <hr class="bottom">
                    </div>
                    <% if(i == 2 || i == 5 || i == 8 || i == 11){ %>

                        <% } else { %>
                            <div class="side"></div>
                        <% } %>
                </form>
                <% } %>
            <% } %>
        </div>  
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>