<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
        img{
            width: 90%;
        }
        .container{
            width: 80%;

        }
        form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
        .box{
            width: 33%;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/restaurant/<%=id%>?_method=DELETE" method="POST">
            <% for(let i = 0; i < alldishes.length; i++){ %>
            <div class="box">
                <h3><%=alldishes[i].name%></h3>
                <div>
                    <img src="<%=alldishes[i].img%>">
                </div>
                <p class="ingridients"><%=alldishes[i].ingredients%></p>
                <p class="price">$<%=alldishes[i].price%>,00</p>
                <p tags="tags">#<%=alldishes[i].tags%></p>
                <a href="/restaurant">BACK</a>
                <a href="/restaurant/<%=alldishes[i].id%>/edit">EDIT</a>
                <input class="delete" type="submit" value="DELETE"/>
            </div>
            <% } %>
        </form>
    </div>   
</body>
</html>